.container {
  width: min(1200px, 100% - 2rem);
  margin-inline: auto;
}

.header {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.paragraph {
  max-width: 60ch;
  margin-inline: auto;
  text-align: center;
}
